
@charset "utf-8";



body{background-color: #eee;}
/*
display: grid;grid-template-columns: repeat(3, 1fr);

grid-gap: 10px;

max-width:100%;display: block; 



*/

.bloco-pai{width:700px;margin:3em auto 3em auto;
overflow: hidden;}

.itens{background-color: #fff;cursor: pointer;
box-shadow: 0 0 5px 0 rgba(0, 0, 0,.095);border: 5px solid #fff;
border-radius: 8px; width:200px;margin: 10px;float: left;}

.itens-img{width:100%;}

.itens-texto{padding: 1em;}

